#img1{
    float: right;
    height: 100px;   
    margin-bottom: 5px;
}
#img2{
    float: right;
    height: 100px;
    clear: right;
}

.box{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    overflow: auto;
}